In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [53]:
tweets = pd.read_csv('./tweets.csv')
tweets.head()

,Unnamed: 0,screen_name,username,tweet_id,timestamp,text,hashtags,likes,retweets,replies,sentiment_score,location
0,0,Robin4ascii,Robin Hubbard,1254995485452050438,2020-04-28 04:46:55,@QUORA a sample of #Homework Topics Q&A -- ask...,"['Homework', 'schools', 'collegestudents', 'un...",0,0,0,0.000000,"Mountain View, CA"
1,1,iam_ifegbolahan,Ise Owo Omogbolahan,1254995705527177216,2020-04-28 04:47:47,"""There is nothing more beautiful than someone ...","['covid_19', 'CoronaVirus', 'Art', 'IseOwoOmog...",1,0,0,0.525000,"Ikeja, Nigeria"
2,2,JC_RWRC,J.C.,1254995868333289475,2020-04-28 04:48:26,Another one in the books today for an AMAZING ...,[],0,0,0,0.287500,"Jonesboro, AR"
3,3,harsh05710408,harsh vyas,1254996123514789893,2020-04-28 04:49:27,#gvkemri to fight against #covid19 @ GVK Emri ...,"['gvkemri', 'covid19']",0,0,0,0.000000,"Medchal, India"
4,4,BillBodouva,Real Estate BuyerRep,1254996305082036224,2020-04-28 04:50:10,Happy Birthday Mom! You wouldn’t believe what...,"['bestmom', 'bestfriend', 'happybirthday', '1s...",0,0,0,0.313973,"Sands Point, NY"

In [3]:
tweets.drop(columns='Unnamed: 0', inplace=True)

In [4]:
tweets[tweets['location'].str.contains('NY')]

,screen_name,username,tweet_id,timestamp,text,hashtags,likes,retweets,replies,sentiment_score,location
4,BillBodouva,Real Estate BuyerRep,1254996305082036224,2020-04-28 04:50:10,Happy Birthday Mom! You wouldn’t believe what...,"['bestmom', 'bestfriend', 'happybirthday', '1s...",0,0,0,0.313973,"Sands Point, NY"
12,zagnut99,Frank Zagottis,1254999586302820353,2020-04-28 05:03:12,Isolation dinners continue with Isabel’s roast...,"['Dinner', 'Chicken', 'Isolation', 'IsolationD...",0,0,0,-0.600000,"Queens, NY"
22,johnnybebad666_,John Fitzgerald Kennedy Page®,1255004404723462146,2020-04-28 05:22:21,COVID-19 update \nThis MTA BUS didn't pick me ...,[],0,0,0,0.000000,"Queens, NY"
25,juanjeremy100,Cornerman Juan Jeremy,1255006251676831744,2020-04-28 05:29:41,When the #Cornerman confronts #COVID19 #Pneumo...,"['Cornerman', 'COVID19', 'Pneumonia', 'coronav...",3,1,0,0.000000,"Brooklyn, NY"
238,officialdanek,Danèk,1255067181924134913,2020-04-28 09:31:48,Just chilling by the fire! breeeee.x \n.\n.\n...,"['model', 'instagram', 'tiktok', 'picoftheday'...",0,0,0,-0.262500,"Manhattan, NY"
...,...,...,...,...,...,...,...,...,...,...,...
12799,RissmillerRM,Kevin Rissmiller,1257862911701254146,2020-05-06 02:41:02,"Everyone, \n\nPlease take a moment with me\n\n...","['realDonaldTrump', 'FoxNews', 'CNN', 'Electio...",0,0,0,0.000000,"Queens, NY"
12801,LaureenWriter,Laureen Pittman,1257863503366496256,2020-05-06 02:43:23,Cinco de Mayo sunset. So ready to get outta he...,"['covid', 'eeek']",0,0,0,0.166667,"Manhattan, NY"
12837,Polished_Pinup,The Polished Pinup,1257871856599732225,2020-05-06 03:16:35,Siren~ not booking future appointments yet! Bu...,[],0,0,0,0.250000,"Manhattan, NY"
12889,dbeyungin,LLCoolFade,1257886442593943553,2020-05-06 04:14:32,Before Covid\n.\n.\nNever Perfect - Always FRE...,"['SergiotheBarber', 'llcoolfade', 'ThunderCutz...",0,0,0,-0.100000,"Queens, NY"
12907,adrlopez,Adrian Lopez,1257890170558390273,2020-05-06 04:29:21,Celebrating Cinco de Mayo on Taco Tuesday w...,[],1,0,1,0.075000,"Queens, NY"

In [5]:
tweets_cleaned = pd.read_csv('./tweets_cleaned.csv')

In [6]:
tweets_cleaned[tweets_cleaned['state']=='TX']

,Unnamed: 0,screen_name,username,tweet_id,timestamp,text,hashtags,likes,retweets,replies,sentiment_score,state,city,country
4,30,all512tv,Austin Live & Local,1255008728711000065,2020-04-28 05:39:32,http://subscribe.all512.com From Texas Standa...,"['atx', 'austin', 'all512']",0,0,0,0.128125,TX,Austin,United States
5,82,joshWUa,joshWUa,1255022095626571776,2020-04-28 06:32:39,Here everyone he found the cure for your #covi...,"['covid19', 'coronavirus', 'donaldtrump', 'AMo...",0,0,0,-0.542857,TX,El Paso,United States
6,138,malele76,#indal_yam_botq 👗👠👞🛍👝👜🕶,1255037758588026880,2020-04-28 07:34:53,Let's be warm with this colourful cotton Gucci...,"['indal_yam_botq', 'LockdownSA', 'covid19']",0,0,0,0.600000,TX,Houston,United States
7,170,phonemarttech,PhoneMart,1255047959420403713,2020-04-28 08:15:25,INSTAGRAM COVID-19 CASH GIVE AWAY CONTINUES !!...,['phonemartgiveaway'],1,1,0,0.333333,TX,Austin,United States
8,209,JakobEbert,"Jakob Ebert, BVK",1255057661013356544,2020-04-28 08:53:58,"COVID-19\n#investing #mood #memes @ Berlin, Ge...","['investing', 'mood', 'memes']",0,0,0,0.000000,TX,Dallas,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,12805,ColCarrington,William C Carrington,1257864081601675267,2020-05-06 02:45:41,Caldwell County Kentucky Courthouse during Cor...,[],0,0,0,-0.200000,TX,Dallas,United States
1725,12820,Proper_Ginghams,Eugene Faber Green,1257867164817776640,2020-05-06 02:57:56,My new Covid friend is a problem. \n\n#covidsh...,"['covidship', 'pinklemonade', 'vodka', 'partyf...",0,0,0,0.136364,TX,Friendswood,United States
1727,12846,bharti_travels,Bharti Travels,1257874985269506048,2020-05-06 03:29:01,#SpecialService in COVID 19 - Fixed Departure\...,"['SpecialService', 'SUV', 'Covid19', 'Emergenc...",0,0,0,0.166667,TX,Austin,United States
1728,12857,vishvaisakhi,Vaisakhi Mishra,1257877945693229057,2020-05-06 03:40:47,"Avoid, void, devoid...\n.\nThis was the last w...",[],0,0,0,-0.128819,TX,Sugar Land,United States
1729,12886,BATS_Theatre,BATS Theatre,1257885937104756736,2020-05-06 04:12:32,"The final star of Corona Diaries, tomorrow nig...",[],2,1,0,0.033333,TX,Dallas,United States

In [7]:
tweets_cleaned.dtypes

Unnamed: 0           int64
screen_name         object
username            object
tweet_id             int64
timestamp           object
text                object
hashtags            object
likes                int64
retweets             int64
replies              int64
sentiment_score    float64
state               object
city                object
country             object
dtype: object

In [8]:
tweets_cleaned.drop(columns='Unnamed: 0', inplace=True)

In [9]:
tweets_cleaned['timestamp'] = pd.to_datetime(tweets_cleaned['timestamp'])

In [10]:
tweets_cleaned.head()

,screen_name,username,tweet_id,timestamp,text,hashtags,likes,retweets,replies,sentiment_score,state,city,country
0,BillBodouva,Real Estate BuyerRep,1254996305082036224,2020-04-28 04:50:10,Happy Birthday Mom! You wouldn’t believe what...,"['bestmom', 'bestfriend', 'happybirthday', '1s...",0,0,0,0.313973,NY,Sands Point,United States
1,zagnut99,Frank Zagottis,1254999586302820353,2020-04-28 05:03:12,Isolation dinners continue with Isabel’s roast...,"['Dinner', 'Chicken', 'Isolation', 'IsolationD...",0,0,0,-0.600000,NY,Queens,United States
2,johnnybebad666_,John Fitzgerald Kennedy Page®,1255004404723462146,2020-04-28 05:22:21,COVID-19 update \nThis MTA BUS didn't pick me ...,[],0,0,0,0.000000,NY,Queens,United States
3,juanjeremy100,Cornerman Juan Jeremy,1255006251676831744,2020-04-28 05:29:41,When the #Cornerman confronts #COVID19 #Pneumo...,"['Cornerman', 'COVID19', 'Pneumonia', 'coronav...",3,1,0,0.000000,NY,Brooklyn,United States
4,all512tv,Austin Live & Local,1255008728711000065,2020-04-28 05:39:32,http://subscribe.all512.com From Texas Standa...,"['atx', 'austin', 'all512']",0,0,0,0.128125,TX,Austin,United States

In [11]:
tweets_cleaned.dtypes

screen_name                object
username                   object
tweet_id                    int64
timestamp          datetime64[ns]
text                       object
hashtags                   object
likes                       int64
retweets                    int64
replies                     int64
sentiment_score           float64
state                      object
city                       object
country                    object
dtype: object

In [12]:
tweets_cleaned.drop(columns='country', inplace=True)

## Combining tweets and covid data

In [13]:
covid_ny_tx = pd.read_csv('./covid_ny_tx.csv')

In [14]:
covid_ny_tx

          date state   cases  deaths
0   2020-04-28    NY  295137   17638
1   2020-04-28    TX   26865     738
2   2020-04-29    NY  299722   18015
3   2020-04-29    TX   27836     776
4   2020-04-30    NY  304401   18321
5   2020-04-30    TX   29072     828
6   2020-05-01    NY  308345   18610
7   2020-05-01    TX   30339     853
8   2020-05-02    NY  313008   18909
9   2020-05-02    TX   31430     875
10  2020-05-03    NY  316446   19189
11  2020-05-03    TX   32296     890
12  2020-05-04    NY  318984   19415
13  2020-05-04    TX   33131     914
14  2020-05-05    NY  321276   19645
15  2020-05-05    TX   34283     955
16  2020-05-06    NY  329405   25956
17  2020-05-06    TX   35438     985

In [15]:
covid_ny_tx['date'] = pd.to_datetime(covid_ny_tx['date'])

In [16]:
tweets_cleaned['date'] = [timestamp.date() for timestamp in tweets_cleaned['timestamp']]

In [17]:
tweets_cleaned['date'] = pd.to_datetime(tweets_cleaned['date'])

In [18]:
ny_tweets = tweets_cleaned[tweets_cleaned['state']=='NY']

In [19]:
tx_tweets = tweets_cleaned[tweets_cleaned['state']=='TX']

In [20]:
ny_covid = covid_ny_tx[covid_ny_tx['state']=='NY']

In [21]:
tx_covid = covid_ny_tx[covid_ny_tx['state']=='TX']

In [22]:
covid_ny_tx.dtypes

date      datetime64[ns]
state             object
cases              int64
deaths             int64
dtype: object

In [23]:
tx_covid.dtypes

date      datetime64[ns]
state             object
cases              int64
deaths             int64
dtype: object

In [24]:
tx_covid

         date state  cases  deaths
1  2020-04-28    TX  26865     738
3  2020-04-29    TX  27836     776
5  2020-04-30    TX  29072     828
7  2020-05-01    TX  30339     853
9  2020-05-02    TX  31430     875
11 2020-05-03    TX  32296     890
13 2020-05-04    TX  33131     914
15 2020-05-05    TX  34283     955
17 2020-05-06    TX  35438     985

In [25]:
tx_all = pd.merge(left=tx_tweets, right=tx_covid, left_on='date', right_on='date')

In [26]:
ny_all = pd.merge(left=ny_tweets, right=ny_covid, left_on='date', right_on='date')

In [27]:
tweets_and_covid = pd.concat(objs=[ny_all, tx_all], axis=0)
tweets_and_covid.reset_index(drop = True, inplace=True)

In [28]:
tweets_and_covid.head()

,screen_name,username,tweet_id,timestamp,text,hashtags,likes,retweets,replies,sentiment_score,state_x,city,date,state_y,cases,deaths
0,BillBodouva,Real Estate BuyerRep,1254996305082036224,2020-04-28 04:50:10,Happy Birthday Mom! You wouldn’t believe what...,"['bestmom', 'bestfriend', 'happybirthday', '1s...",0,0,0,0.313973,NY,Sands Point,2020-04-28,NY,295137,17638
1,zagnut99,Frank Zagottis,1254999586302820353,2020-04-28 05:03:12,Isolation dinners continue with Isabel’s roast...,"['Dinner', 'Chicken', 'Isolation', 'IsolationD...",0,0,0,-0.600000,NY,Queens,2020-04-28,NY,295137,17638
2,johnnybebad666_,John Fitzgerald Kennedy Page®,1255004404723462146,2020-04-28 05:22:21,COVID-19 update \nThis MTA BUS didn't pick me ...,[],0,0,0,0.000000,NY,Queens,2020-04-28,NY,295137,17638
3,juanjeremy100,Cornerman Juan Jeremy,1255006251676831744,2020-04-28 05:29:41,When the #Cornerman confronts #COVID19 #Pneumo...,"['Cornerman', 'COVID19', 'Pneumonia', 'coronav...",3,1,0,0.000000,NY,Brooklyn,2020-04-28,NY,295137,17638
4,officialdanek,Danèk,1255067181924134913,2020-04-28 09:31:48,Just chilling by the fire! breeeee.x \n.\n.\n...,"['model', 'instagram', 'tiktok', 'picoftheday'...",0,0,0,-0.262500,NY,Manhattan,2020-04-28,NY,295137,17638

In [29]:
tweets_and_covid.drop(columns='state_y', inplace=True)

In [30]:
tweets_and_covid.rename(columns={'timestamp':'tweet_timestamp', 'state_x':'state'}, inplace=True)

In [31]:
tweets_and_covid.shape

(1732, 15)

In [32]:
tweets_and_covid.head()

,screen_name,username,tweet_id,tweet_timestamp,text,hashtags,likes,retweets,replies,sentiment_score,state,city,date,cases,deaths
0,BillBodouva,Real Estate BuyerRep,1254996305082036224,2020-04-28 04:50:10,Happy Birthday Mom! You wouldn’t believe what...,"['bestmom', 'bestfriend', 'happybirthday', '1s...",0,0,0,0.313973,NY,Sands Point,2020-04-28,295137,17638
1,zagnut99,Frank Zagottis,1254999586302820353,2020-04-28 05:03:12,Isolation dinners continue with Isabel’s roast...,"['Dinner', 'Chicken', 'Isolation', 'IsolationD...",0,0,0,-0.600000,NY,Queens,2020-04-28,295137,17638
2,johnnybebad666_,John Fitzgerald Kennedy Page®,1255004404723462146,2020-04-28 05:22:21,COVID-19 update \nThis MTA BUS didn't pick me ...,[],0,0,0,0.000000,NY,Queens,2020-04-28,295137,17638
3,juanjeremy100,Cornerman Juan Jeremy,1255006251676831744,2020-04-28 05:29:41,When the #Cornerman confronts #COVID19 #Pneumo...,"['Cornerman', 'COVID19', 'Pneumonia', 'coronav...",3,1,0,0.000000,NY,Brooklyn,2020-04-28,295137,17638
4,officialdanek,Danèk,1255067181924134913,2020-04-28 09:31:48,Just chilling by the fire! breeeee.x \n.\n.\n...,"['model', 'instagram', 'tiktok', 'picoftheday'...",0,0,0,-0.262500,NY,Manhattan,2020-04-28,295137,17638

In [33]:
tweets_and_covid.to_csv("./tweets_and_covid.csv", index = False)

In [34]:
tweets_covid_cty = pd.read_csv('tweets_covid_cty_info.csv')

In [40]:
tweets_covid_cty.head()

,Unnamed: 0,screen_name,username,tweet_id,tweet_timestamp,text,hashtags,likes,retweets,replies,...,county_name_y,county_name_all,lat,lng,population,density,source,ranking,zips,shelter_in_place
0,0,BillBodouva,Real Estate BuyerRep,1254996305082036224,2020-04-28 04:50:10,Happy Birthday Mom! You wouldn’t believe what...,"['bestmom', 'bestfriend', 'happybirthday', '1s...",0,0,0,...,Nassau,Nassau,40.8531,-73.7039,2908.0,265.0,polygon,3,11050,1
1,1,zagnut99,Frank Zagottis,1254999586302820353,2020-04-28 05:03:12,Isolation dinners continue with Isabel’s roast...,"['Dinner', 'Chicken', 'Isolation', 'IsolationD...",0,0,0,...,Queens,Queens,40.7498,-73.7976,2333054.0,8247.0,polygon,1,11361 11362 11363 11364 11354 11355 11356 1135...,1
2,2,johnnybebad666_,John Fitzgerald Kennedy Page®,1255004404723462146,2020-04-28 05:22:21,COVID-19 update \nThis MTA BUS didn't pick me ...,[],0,0,0,...,Queens,Queens,40.7498,-73.7976,2333054.0,8247.0,polygon,1,11361 11362 11363 11364 11354 11355 11356 1135...,1
3,3,_offclemmanuelp,Emmanuel Paguntalan,1255105729008226304,2020-04-28 12:04:59,Let's help our Frontliner in fighting COVID-19...,[],0,0,0,...,Queens,Queens,40.7498,-73.7976,2333054.0,8247.0,polygon,1,11361 11362 11363 11364 11354 11355 11356 1135...,1
4,4,HelenAsimegbe,Helen Asimegbe,1255110017453359104,2020-04-28 12:22:01,Reposted from patiencesilias You are an amazin...,['my'],0,0,0,...,Queens,Queens,40.7498,-73.7976,2333054.0,8247.0,polygon,1,11361 11362 11363 11364 11354 11355 11356 1135...,1

In [36]:
tweets_and_covid.head()

,screen_name,username,tweet_id,tweet_timestamp,text,hashtags,likes,retweets,replies,sentiment_score,state,city,date,cases,deaths
0,BillBodouva,Real Estate BuyerRep,1254996305082036224,2020-04-28 04:50:10,Happy Birthday Mom! You wouldn’t believe what...,"['bestmom', 'bestfriend', 'happybirthday', '1s...",0,0,0,0.313973,NY,Sands Point,2020-04-28,295137,17638
1,zagnut99,Frank Zagottis,1254999586302820353,2020-04-28 05:03:12,Isolation dinners continue with Isabel’s roast...,"['Dinner', 'Chicken', 'Isolation', 'IsolationD...",0,0,0,-0.600000,NY,Queens,2020-04-28,295137,17638
2,johnnybebad666_,John Fitzgerald Kennedy Page®,1255004404723462146,2020-04-28 05:22:21,COVID-19 update \nThis MTA BUS didn't pick me ...,[],0,0,0,0.000000,NY,Queens,2020-04-28,295137,17638
3,juanjeremy100,Cornerman Juan Jeremy,1255006251676831744,2020-04-28 05:29:41,When the #Cornerman confronts #COVID19 #Pneumo...,"['Cornerman', 'COVID19', 'Pneumonia', 'coronav...",3,1,0,0.000000,NY,Brooklyn,2020-04-28,295137,17638
4,officialdanek,Danèk,1255067181924134913,2020-04-28 09:31:48,Just chilling by the fire! breeeee.x \n.\n.\n...,"['model', 'instagram', 'tiktok', 'picoftheday'...",0,0,0,-0.262500,NY,Manhattan,2020-04-28,295137,17638

In [48]:
tweets_and_covid.tail()

,screen_name,username,tweet_id,tweet_timestamp,text,hashtags,likes,retweets,replies,sentiment_score,state,city,date,cases,deaths
1727,ColCarrington,William C Carrington,1257864081601675267,2020-05-06 02:45:41,Caldwell County Kentucky Courthouse during Cor...,[],0,0,0,-0.200000,TX,Dallas,2020-05-06,35438,985
1728,Proper_Ginghams,Eugene Faber Green,1257867164817776640,2020-05-06 02:57:56,My new Covid friend is a problem. \n\n#covidsh...,"['covidship', 'pinklemonade', 'vodka', 'partyf...",0,0,0,0.136364,TX,Friendswood,2020-05-06,35438,985
1729,bharti_travels,Bharti Travels,1257874985269506048,2020-05-06 03:29:01,#SpecialService in COVID 19 - Fixed Departure\...,"['SpecialService', 'SUV', 'Covid19', 'Emergenc...",0,0,0,0.166667,TX,Austin,2020-05-06,35438,985
1730,vishvaisakhi,Vaisakhi Mishra,1257877945693229057,2020-05-06 03:40:47,"Avoid, void, devoid...\n.\nThis was the last w...",[],0,0,0,-0.128819,TX,Sugar Land,2020-05-06,35438,985
1731,BATS_Theatre,BATS Theatre,1257885937104756736,2020-05-06 04:12:32,"The final star of Corona Diaries, tomorrow nig...",[],2,1,0,0.033333,TX,Dallas,2020-05-06,35438,985

In [49]:
tweets_and_covid.shape

(1732, 15)

In [54]:
tweets.shape

(12909, 12)